* {
	box-sizing: border-box;
}

.container {
	max-width: 500px;
}

/* Player's Turn */

.player {
	font-size: 2em;
	height: 40px;
	width: 40px;
	display: inline-block;
	text-align: center;
}

.current-player {
	font-weight: bold;
	color: red;
	border-bottom: 1px solid black;
}


/* -- Game Board -- */
table {
	width: 300px;
	margin: 30px auto;
}

td {
	width: 100px;
	height: 100px;
	border: 1px solid #333;
}