* {
	box-sizing: border-box;
}

.container {
	max-width: 500px;
}

.jumbotron {
	margin-bottom: 10;
}

/* Player's Turn */
.player-turn {
	min-height: 60px;
}
.player {
	font-size: 1em;
	height: 30px;
	width: 30px;
	display: inline-block;
	text-align: center;
	transition: all .8s ease;
}

.current-player {
	height: 60px;
	width: 60px;
}


/* -- Game Board -- */
table {
	width: 300px;
	margin: 30px auto;
	border: 1px solid #999;
	box-shadow: 4px 4px 10px #ccc;


}

td {
	width: 100px;
	height: 100px;

}

.cell {
	background-color: #ccc;
	font-size: 4em;
	height: 100px;
	text-align: center;
	width: 100px;
	border: 1px solid #999;
}

.cell.em-pig {
	background-color: pink;
}

.cell.em-cat {
	background-color: orange;
}

.cell:hover {
	border-color: #333;
	
}

.cell.flip {
	transform: rotateY(180deg);
}
